<section id="layout" class="layout">
    <div class="logo">
        <img src="../../../assets/WhatsApp Image 2025-02-10 at 13.07.35_e764f066.jpg" alt="">
    </div>

    <div class="row" style="padding: 9vh 0vh 0vh 0vh;">
        <div class="col-1"></div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-success" style="border: 1px solid white;"><a
                    style="text-decoration: none; color: white;" href="#home">Back To Home</a></button>

            <h1 style="font-size: 13vh;
    font-weight: bold; padding-top: 5vh;">Automobile Components</h1>

            <p style="padding-top: 10vh;">In the automotive industry, the TSF group operates across segments from
                component manufacturing and parts
                distribution.
                The group serves marquee customers across the globe and is known for high quality design-led
                manufacturing.</p>
        </div>
        <div class="col-1"></div>

        <div class="col-5">
            <img style=" width: 68vh;
    height: 91vh; padding-left: 5vh;
    " class="card-img-top" src="../../../assets/Automobile-component-1.png" alt="">

        </div>
        <div class="col-1"></div>
    </div>

</section>

<section class="layout1">

    <h1 style="padding: 10vh 0vh 0vh 18vh;">Axles India</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style=" padding-top: 4vh;">
            <p>Axles India, established in 1982, is a strategic joint venture between the TSF Group and Dana Global
                Products
                Incorporated (USA). With focus on rear axle housings, trailer axle beams, and hub reduction axle
                housings,
                they cater to a comprehensive range of medium to heavy commercial vehicles.</p>

            <p>The state-of-the-art facilities located in Sriperumbudur and Cheyyar along with their skilled workforce
                of over
                1,500 employees have elevated the production capacity from 10,000 axle housing annually to an impressive
                350,000
                units. Their unswerving commitment to quality and safety continues to hold them as a trusted partner for
                many
                commercial vehicle OEMs.</p>

            <p> In FY24, the company achieved a revenue of INR 855 crore.</p>
        </div>
        <div class="col-5">
            <img style="width: 95vh;
    height: 85vh;" src="../../../assets/Axles-India.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>

</section>


<section class="layout2">

    <h1 style="padding: 10vh 0vh 0vh 165vh;">Brakes India</h1>
    <div class="row">

        <div class="col-5" style=" padding: 23vh 0vh 0vh 18vh;">
            <img style="width: 87vh;
    height: 69vh;
            " src="../../../assets/Brakes-India-2-768x489.png" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-4" style="margin-left: 33vh;
    padding-top: 5vh;">
            <p>Brakes India was founded in 1962 and is the leading supplier of braking systems in the Indian market and
                a global
                supplier of ferrous castings, for passenger vehicles, light commercial vehicles, heavy commercial
                vehicles & tractors.
                Promoted by the TSF Group, whose heritage dates to 1911, the company has a strong in-house R&D
                capability, that includes
                state-of-the-art test facilities and an ARAI-certified high-speed test track built to international
                standards. Brakes
                India has world-class
                manufacturing operations with a reputation of providing high quality products and an expansive supply
                chain,
                serving marquee OEMs across the globe. The world-renowned iron foundry produces over 200,000 tons of
                safety
                critical castings from India and Oman. Its trusted brands TVS-Girling, TVS-Apache, TVS-Sprinter and
                Revia
                are leading names in their respective aftermarket segments. The company lays deep focus on sustainable
                \ practices and has numerous accolades to its name such as National Awards for Energy conservation;
                Leadership and Excellence Award in Safety, Health & Environment, TPM Excellence Award and the
                prestigious
                Deming Application Prize to name a few.

            </p>

            <p>In FY24, the company achieved a revenue of INR 7,535 crores.</p>
        </div>

    </div>

</section>


<section class="layout3">

    <h1 style="padding: 10vh 0vh 0vh 18vh;">Wheels India</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style=" padding-top: 4vh;">
            <p>With history dating back to 1962, Wheels India (WIL) has been a driving force in the development of
                automotive industry in our country. Headquartered in Chennai, their expertise extends across
                manufacturing
                of wheels, production of chassis for buses and trucks, suspension products, hydraulic cylinders,
                custom-fabricated assemblies, and precision components for wind turbines.</p>

            <p>Backed by a workforce of over 2500 highly skilled professionals, WIL operates 10 state-of-the-art
                manufacturing plants across India. The company’s dedication to technological advancement is evident
                through its impressive portfolio holding over 89 international patents.</p>

            <p>On the global arena, WIL’s exports account for more than 26% of their revenue, establishing
                them as a trusted partner in the international auto-components market.</p>
            <p>In FY24, the company achieved a revenue of INR 4,985 crore.</p>
        </div>
        <div class="col-5">
            <img style="    width: 95vh;
                height: 60vh;
                margin-top: 23vh;" src="../../../assets/Wheels-india-image.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>

</section>


<section class="layout4">

    <h1 style="padding: 10vh 0vh 0vh 158vh;">Turbo Energy</h1>
    <div class="row">

        <div class="col-5" style="     padding: 23vh 0vh 0vh 18vh;">
            <img style="width: 87vh;
            height: 69vh;
                    " src="../../../assets/turbo_energy_image.png" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-4" style="margin-left: 33vh;
            padding-top: 5vh;">
            <p>Established in 1982, TEL is a strategic joint venture between the TSF group and BorgWarner Turbo Systems
                (Germany). As a leading manufacturer of turbochargers and related components, Turbo Energy (TEL) is at
                the forefront of the automotive industry.
            </p>

            <p>
                Their engineering and R&D Centre, recognised by the Department of Scientific and Industrial Research,
                Government of India, enables them to design, develop, and validate turbocharger components with in-house
                simulation and testing capabilities.
            </p>
            <p>
                Driven by a dedicated team of over 515 professionals and robust supply chain, they cater to major OEMs
                in the automotive sector across the globe.
            </p>
            <p>In FY24, the company achieved a revenue of INR 2,983 crore.</p>
        </div>

    </div>

</section>

<section class="layout5">

    <h1 style="padding: 10vh 0vh 0vh 18vh;">Sundaram Dynacast</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style=" padding-top: 4vh;">
            <p>Founded in 1993, Sundaram Dynacast is a leading manufacturer of precision Zinc and Aluminium die-cast
                parts. Incorporated as a joint venture between Dynacast Holdings UK, Brakes India, and Sundaram
                Finance, Sundaram Dynacast is headquartered in Chennai. The company generated nearly INR 155 crore in
                FY24.</p>

            <p>The company caters mainly to the automotive four-wheeler, two-wheeler, health care,
                electrical/electronic industry, and furniture industry requirements. Sundaram Dynacast
                boasts high-class manufacturing capabilities including the multi-slide Dynacast technology.</p>

        </div>
        <div class="col-5">
            <img style="    width: 95vh;
                        height: 60vh;
                        margin-top: 10vh;" src="../../../assets/SundaramDynacast_1-1-1.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>

</section>

<section class="layout4">

    <h1 style="padding: 0vh 0vh 0vh 136vh;">Leggaro Composites</h1>
    <div class="row">

        <div class="col-5" style="     padding: 23vh 0vh 0vh 18vh;">
            <img style="width: 87vh;
                    height: 69vh;
                            " src="../../../assets/Leggaro-composites-1024x652.png" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-4" style="margin-left: 33vh;
                    padding-top: 5vh;">
            <p>Leggaro Composites is a global leader in lightweight composite manufacturing. The company derives
                strength
                from its Italian Motor Valley Heritage, Design Leadership, Indian Manufacturing Support, and its strong
                partnership with the TSF Group in India. With rich experience of working in the global luxury
                mobility, motorsport and medical domain, the company enjoys a reputation for timely delivery
                and efficiency through innovation and technological advancement. </p>

            <p>With a production area of 10,000 m2 in Italy and India, key processes undertaken
                include pre-impregnated carbon fibre layup, compression moulding, autoclave curing,
                trimming, gluing, painting, and innovation related to automatic lamination.
                The two entities, Sundaram Composite Structures & MIND S.r.l generated more than INR 59 crore in FY24.
            </p>
        </div>

    </div>

</section>


<section class="layout5">

    <h1 style="padding: 10vh 0vh 0vh 18vh;">Dunes Oman</h1>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style=" padding-top: 4vh;">
            <p>Established in 2008, Dunes Oman has emerged as a key player in the global market,
                 specialising in the export of safety-critical automotive castings with precise manufacturing capabilities.</p>

            <p>Headquartered in Salalah, Sultanate of Oman, Dunes Oman, with over 200 employees, 
                operates with a robust rated capacity of 36,000 metric tons per annum (MTPA). Their
                 cutting-edge foundry is equipped with DISAMATIC lines, complemented by a dedicated 
                 pattern, and die shop, enabling Dunes Oman to manufacture top-quality ductile iron castings.</p>
            <p>Dunes Oman caters primarily to customers in Europe and America, delivering precision-engineered 
                castings that meet stringent safety requirements. Their dedication to delivering superior products 
                has earned them a strong reputation in the global automotive industry.</p>
        </div>
        <div class="col-5">
            <img style="    width: 95vh;
                                height: 60vh;
                                margin-top: 10vh;" src="../../assets/Dunes-Oman-768x489.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>

</section>

<section class="layout6" style="padding: 10vh 0vh 0vh 0vh;">
 
    <div style="    border: 1px solid #e8e2e2;
    width: 130vh;
    margin-left: 35vh;
"></div>

<div class="row" style="padding: 15vh 0vh 0vh 0vh;">
    <div class="col-1" style="margin-left: 10vh;"></div>
    <div class="col-5" (click)="viewtools1()">
        <img class="card-img-top" src="../../../assets/Automobile-dealership-1.png" alt="">
        <div style="padding: 69vh 0vh 0vh 8vh;">
            <h4 style="color: white;font-size: xx-large;">Driving Dreams</h4>
        </div>
    </div>
    <div class="col-5" (click)="viewtools2()">
        <img class="card-img-top" src="../../../assets/Finance-insurance-1.png" alt="">
        <div style="padding: 69vh 0vh 0vh 8vh;">
            <h4 style="color: white;font-size: xx-large;">A Secured
                Future</h4>

        </div>

    </div>
    <div class="col-1"></div>
</div>

<div style="margin-top: 38vh;
display: flex;
justify-content: center;">
    <h1>Let's connect</h1>
</div>
<p style="display: flex;
justify-content: center;">connect@tsfgroup.co.in</p>

    <div class="logo">
        <img src="../../../assets/WhatsApp Image 2025-02-10 at 13.07.35_e764f066.jpg" alt="">
    </div>

<div style="margin: 46vh 0vh 0vh 4vh;">
    <p>Copyright 2024, TSSFPL.
        Privacy Policy</p>
    
</div>

</section>
