<section id="home" class="main">
    <div class="logo" style=" margin-top: 20vh;">
        <img src="../../../assets/WhatsApp Image 2025-02-10 at 13.07.35_e764f066.jpg" alt="">
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div style="font-size: 9vh;font-weight: 700; padding: 8vh 0px 0px 0px;">Lorem ipsum dolor.</div>

        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">

        <div class="col-2"></div>
        <div class="col-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum qui maiores repellendus deserunt, dolore
                hic.</p>

        </div>
        <div class="col-6"></div>
    </div>

</section>


<section class="submain">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, nesciunt.</p>

    <div class="row" style="padding: 8vh 0vh 0vh 27vh;">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (1).jpeg" alt="">
        </div>
        <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (2).jpeg" alt="">
        </div>
        <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (3).jpeg" alt="">

        </div>
    </div>
    <div class="row" style="padding: 8vh 0vh 0vh 27vh;">
        <div data-aos="zoom-in-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (1).jpeg" alt="">
        </div>
        <div data-aos="zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (2).jpeg" alt="">
        </div>
        <div data-aos="zoom-in-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (3).jpeg" alt="">

        </div>
    </div>

    <div class="row" style="padding: 8vh 0vh 0vh 27vh;">
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (1).jpeg" alt="">
        </div>
        <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (2).jpeg" alt="">
        </div>
        <div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-4">
            <img src="../../../assets/download (3).jpeg" alt="">

        </div>
    </div>

</section>

<section class="submain1">

    <h1 style="padding: 15vh 0vh 0vh 30vh;">
        Lorem ipsum dolor sit amet.
    </h1>
    <h1 style="padding: 0vh 0vh 0vh 30vh;">consectetur adipisicing elit. Cum, a.</h1>

    <div>

        <div class="row" style="padding: 10vh 0vh 0vh 0vh;">
            <div class="col-4" (click)="viewtools()">
                <img class="card-img-top" src="../../../assets/Automobile-component-1.png" alt="">
                <div style="padding: 69vh 0vh 0vh 8vh;">
                    <h4 style="color: white;font-size: xx-large;">Powering Safe
                        Mobility</h4>

                </div>
            </div>

            <div class="col-4" (click)="viewtools1()">
                <img class="card-img-top" src="../../../assets/Automobile-dealership-1.png" alt="">
                <div style="padding: 69vh 0vh 0vh 8vh;">
                    <h4 style="color: white;font-size: xx-large;">Driving Dreams
                        Home</h4>
                </div>
            </div>

            <div class="col-4" (click)="viewtools2()">
                <img class="card-img-top" src="../../../assets/Finance-insurance-1.png" alt="">
                <div style="padding: 69vh 0vh 0vh 8vh;">
                    <h4 style="color: white;font-size: xx-large;">A Secured
                        Future</h4>

                </div>

            </div>

        </div>


    </div>


</section>


<section class="submain2">

    <h1>Lorem ipsum dolor</h1>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <h2 style="font-size: 8vh; padding: 15vh 0vh 0vh 0vh;">Sustaining and nurturing
                the environment</h2>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <p>Nurturing the environment through solar and wind energy utilization, rainwater harvesting,
                vermicomposting, maintaining minimal discharge of pollutants from our factories, collaborating on
                research projects for ecological conservation,etc.</p>
        </div>
        <div class="col -5"></div>
    </div>

</section>

<section class="submain3">
    <div>
        <img style="position: absolute; padding: 15vh 0vh 0vh 94vh;" src="../../../assets/img_csr2-1.png" alt="">
        <h1>Social Responsibility</h1>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <p>
                    Giving back to the community via local employment, primary school education, technical trainings to
                    equip youth,
                    healthcare, collaboration in Swachh Bharat mission, supporting single teacher training schools,
                    supporting research
                    programmes in universities, etc.
                </p>

                <p>
                    Giving back to the community via local employment, primary school education, technical trainings to
                    equip youth,
                    healthcare, collaboration in Swachh Bharat mission, supporting single teacher training schools,
                    supporting research
                    programmes in universities, etc.
                </p>
                <p>
                    Giving back to the community via local employment, primary school education, technical trainings to
                    equip youth,
                    healthcare, collaboration in Swachh Bharat mission, supporting single teacher training schools,
                    supporting research
                    programmes in universities, etc.
                </p>
            </div>
            <div class="col-7"></div>
        </div>

    </div>

</section>



<section class="submain4">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4" style="padding: 27vh 0px 0px 0px;">
            <img src="../../../assets/WhatsApp Image 2025-02-10 at 13.07.35_e764f066.jpg" alt="">

        </div>
        <div class="col-4" style="padding: 44vh 0px 0px 42px;">
            <p>
                With a legacy spanning over a century, the TSF group’s
                interests span the automotive and financial services
                sectors.</p>
        </div>
        <div class="col-2"></div>
    </div>

</section>


<section class="submain5">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="padding: 11vh 0px 0px 3vh;">
            <h2 style="font-size: 9vh;font-weight: bold;">
                Let's connect</h2>
            <!-- <p style="padding: 0px 0px 0px 15vh">harijosun@gmail.com</p> -->
        </div>
        <div class="col-4"></div>
    </div>
    <div style="padding: 0vh 0vh 0vh 14vh;">
        <img src="../../../assets/WhatsApp Image 2025-02-10 at 13.07.35_e764f066.jpg" alt="">

    </div>

    <div class="row" style="padding: 11px 0px 0px 0px;">
        <div class="col-1"></div>
        <div class="col-5">
            <p>
                With a legacy spanning over a century, the TSF group’s interests span the automotive and financial
                services sectors.
                Companies promoted by the TSF group have combined revenue of more than Rs. 29,000 crores, 42,000
                employees, 1,200 branches,
                and 36 factories.
            </p>

            <p>
                In the automotive industry, the TSF group operates across segments from component manufacturing, parts distribution, 
                vehicle dealership and vehicle financing. The group serves marquee customers across the globe and is known for high
                 quality design-led manufacturing. The TSF group companies are market leaders in their segments and include Brakes India,
                  Wheels India, Axles India, Turbo Energy, IMPAL, Madras Auto Service, and Sundaram Motors.
            </p>


        </div>
        <div class="col-5">
            <p>
                In financial services, the TSF Group promoted Sundaram Finance (founded 1954), one of the most respected
                names in the NBFC sector,
                with interests in automotive lending, general insurance, housing loans, and asset management. The
                financial
                services business
                has more than Rs. 50,000 crores in assets and a further Rs. 56,000 crores in assets managed.
            </p>
            <p>
                The TSF group comprises the T.S. Santhanam branch of the erstwhile TVS group and continues the tradition 
                of Trust, Value and Service that the group has been known for this past century.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
     <p style="padding: 14vh 0px 0px 5vh;">
        Copyright 2024, TSSFPL.Privacy Policy
    </p>

 

</section>